@import 'variables';

$var-md: 991px;

.paymentMethod {
    list-style-type: none;
    margin: 0;
}

.paymentMethod_img {
    margin: 0;
}

.additionalFields {
    display: flex;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;

    .adyen-checkout__card-input {
        width: 100%;
        order: 3;

        + input.adyen-checkout__input {
            order: 0;
            margin: 0 0 20px;
        }
    }

    &#component_ratepay {
        display: block !important;
    }
}

.adyen-checkout__input-wrapper .adyen-checkout__dropdown__list {
    z-index: 10;
}

#paymentMethodsUl {
    width: 80%;
    padding-inline-start: 0;
    margin: auto;
}

.adyen-checkout__input {
    border: 0 !important;
    background: $white-smoke !important;
    border-bottom: 2px solid #000 !important;
    border-radius: 0 !important;
    padding: 0 8px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'futura-pt', sans-serif !important;
    color: #606060 !important;

    &::-webkit-input-placeholder {
        color: #606060 !important;
        font-weight: 400 !important;
    }

    &:-ms-input-placeholder {
        color: #606060 !important;
        font-weight: 400 !important;
    }

    &::placeholder {
        color: #606060 !important;
        font-weight: 400 !important;
    }

    &:focus {
        &::-webkit-input-placeholder {
            color: #0a7f8a !important;
            font-weight: 400 !important;
        }

        &:-ms-input-placeholder {
            color: #0a7f8a !important;
            font-weight: 400 !important;
        }

        &::placeholder {
            color: #0a7f8a !important;
            font-weight: 400 !important;
        }
    }
}

.adyen-checkout__label__text {
    display: none !important;
}

.adyen-checkout__field {
    margin-bottom: 20px;
}

.adyen-checkout__field__cvc,
.adyen-checkout__card__exp-cvc,
.adyen-checkout__field--expiryDate {
    .adyen-checkout__label__text {
        display: block !important;
        padding: 5px 0 !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 18px !important;
    }
}

.adyen-checkout__label--focused {
    .adyen-checkout__label__text {
        color: #000 !important;
    }
}

select#genderInput + span {
    display: block !important;
    float: right;
    width: calc(50% - 8px) !important;
}

.ratepay {
    .additionalFields {
        .adyen-checkout__label {
            font-size: 14px !important;
            line-height: 21px !important;
            color: #606060 !important;
            padding-left: 16px !important;
            margin-bottom: -5px !important;
        }

        #genderInput {
            display: none !important;
        }

        #dateOfBirthInput {
            float: left !important;
            background: #fff !important;
            width: 100% !important;
            line-height: 40px !important;
            height: 48px !important;
            padding: 0 16px !important;
            color: #606060 !important;
            font-weight: 400 !important;
            caret-color: #0a7f8a !important;

            &.adyen-checkout__input--error {
                color: $alert !important;
            }

            &:focus {
                color: #0a7f8a !important;
            }
        }
    }
}

.adyen-checkout__input--focus,
.adyen-checkout__input--focus:hover,
.adyen-checkout__input:active,
.adyen-checkout__input:active:hover,
.adyen-checkout__input:focus,
.adyen-checkout__input:focus:hover {
    box-shadow: none !important;
}

.adyen-checkout__input--focus,
.adyen-checkout__input--focus:hover,
.adyen-checkout__input:active,
.adyen-checkout__input:active:hover,
.adyen-checkout__input:focus,
.adyen-checkout__input:focus:hover {
    color: #0a7f8a !important;
    border-bottom-color: $blue-chill !important;
}

.adyen-checkout-input__inline-validation {
    .adyen-checkout__icon {
        vertical-align: top !important;

        &[alt='field_error'],
        &[alt='checkmark'] {
            display: none !important;
        }
    }
}

.adyen-checkout__error-text {
    color: #ff5d5a !important;
    width: 100%;
    position: relative !important;
    margin: 0 !important;
    padding: 10px 0 0 20px !important;
    font-size: 14px !important;
    line-height: 18px !important;

    @media (min-width: $var-md) {
        font-size: 12px !important;
        line-height: 15px !important;
    }

    &::before {
        content: $icon-alert !important;
        position: absolute !important;
        left: 3px !important;
        top: 9px !important;
        font-family: 'icomoon' !important;
        font-size: 9px !important;
        line-height: 20px !important;

        @media (min-width: $var-md) {
            top: 7px !important;
        }
    }
}

.adyen-checkout__input--error,
.adyen-checkout__input--error:hover,
.adyen-checkout__input--invalid,
.adyen-checkout__input--invalid:hover {
    border-color: $alert !important;
}

.adyen-checkout__card__exp-cvc {
    .adyen-checkout__label__text {
        display: block !important;
        padding: 5px 0 !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 18px !important;
    }
}

.adyen-checkout__loading-input__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .adyen-checkout__card__form {
        width: 100%;
    }
}

.cc-link-holder {
    font-size: 14px !important;
    line-height: 18px !important;
    padding-top: 20px;
    order: 5;

    .another-card,
    .saved-card {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}

.adyen-checkout__store-details {
    order: 2;
}

.adyen-checkout__checkbox {
    margin: 0 !important;
}

.adyen-checkout__checkbox__input {
    &:checked {
        + .adyen-checkout__checkbox__label {
            &::after {
                border: 1px solid #000 !important;
                background: #fff !important;
            }
        }
    }

    &:hover:not(:focus),
    &:focus {
        + .adyen-checkout__checkbox__label {
            &::after {
                border: 1px solid #000 !important;
                box-shadow: none !important;
            }
        }
    }

    + .adyen-checkout__checkbox__label {
        &::after {
            width: 12px !important;
            height: 12px !important;
            border-radius: 0 !important;
            border: 1px solid #000 !important;
            top: 3px !important;
        }

        &::before {
            top: 5px !important;
            width: 5px !important;
            height: 9px !important;
            border-color: transparent #000 #000 transparent !important;
        }
    }
}

.adyen-checkout__card__exp-date__input--oneclick {
    line-height: 40px !important;
}

.custom-card-input {
    width: 100%;
    order: 1;
    margin: 0 0 16px;
    position: relative;

    .card {
        margin: 0;
        position: absolute;
        right: 10px;
        top: 11px;
        background: url('../images/adyen-icons.png') no-repeat;
        width: 28px;
        height: 18px;
        z-index: 2;

        &.visa {
            background-position: -35px 0;
        }

        &.unionpay {
            background-position: -70px 0;
        }

        &.cup {
            background-position: -70px 0;
        }

        &.mastercard {
            background-position: -105px 0;
        }

        &.jcb {
            background-position: -141px 0;
        }

        &.discover {
            background-position: -177px 0;
        }

        &.diner {
            background-position: -213px 0;
        }

        &.amx {
            background-position: -249px 0;
        }
    }
}

.adyen-checkout__loading-input__form {
    .adyen-checkout__card__form {
        order: 1;
    }

    .adyen-checkout__card__holderName {
        order: 0;
        margin: 0 0 20px !important;

        .adyen-checkout__label {
            margin: 0;
        }
    }
}

.adyen-checkout__field--securityCode.adyen-checkout__field--error .adyen-checkout__card__cvc__hint,
.adyen-checkout__field--securityCode.adyen-checkout__field--valid .adyen-checkout__card__cvc__hint {
    opacity: 1 !important;
}
