@import '~base/bootstrap-custom-import';
@import '../variables';
@import '../utilities/mixins';
@import 'headerFooter';

$iphone: 375px;

.page {
    background-color: $white;
}

body {
    font-family: $font-primary;
}

a {
    color: $primary;

    &.back-dashboard {
        display: inline-block;
        margin-bottom: 10px;
        border: 1px solid $primary;
        font-family: $font-primary;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
        }
    }
}

.btn {
    border-radius: 0;
}

#header {
    border-bottom: 1px solid $white-smoke;
}

.form-control {
    &.is-invalid {
        background-image: none;
    }
}

.was-validated {
    .form-control {
        &.is-invalid {
            background-image: none;
        }
    }
}

// checkout steps

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 30px;
    padding: 0 15px;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    @include media-breakpoint-down(sm) {
        justify-content: center;
        padding: 0 10px;
    }

    li {
        flex-grow: 1;
        padding: 5px 10px;
        color: $black;
        text-transform: capitalize;
        position: relative;
        @include rem-font-size(14px, 21px);

        @include media-breakpoint-up(md) {
            padding: 0;
            max-width: 90px;
            flex-grow: 1;
            width: 100%;
        }

        @include media-breakpoint-down(sm) {
            max-width: 90px;
            padding: 0;
        }

        .step-count {
            width: 100%;
            text-align: center;

            > span {
                position: relative;
                text-transform: capitalize;
                font-weight: bold;
                display: block;
                margin-bottom: 5px;
            }

            .count {
                display: inline-flex;
                justify-content: center;
                height: 18px;
                width: 18px;
                align-items: center;

                > span {
                    width: 100%;
                    height: 100%;
                    border: 1px solid $black;
                    border-radius: 100%;
                    font-size: 8px;
                    line-height: 16px;
                    font-weight: bold;
                    margin-bottom: 0;
                    background: $white;
                    z-index: 1;
                }
            }
        }

        &::after {
            content: '';
            background: $black;
            height: 2px;
            width: 160px;
            display: block;
            position: absolute;
            bottom: 8px;
            right: -174px;
            left: auto;
            border-radius: 20px;
            overflow: hidden;
            margin: 0 auto;

            @include media-breakpoint-down(md) {
                width: 100px;
                right: -104px;
            }

            @include media-breakpoint-down(sm) {
                width: 57px;
                right: -30px;
            }

            @media (max-width: $iphone) {
                width: 40px;
                right: -18px;
            }
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &.active {
            border-color: $primary;
            color: $primary;
            cursor: pointer;

            .step-count {
                .count span {
                    background: $black;
                    color: $white;
                }
            }
        }

        &.placeOrder {
            &.navigatable {
                color: $primary;
            }
        }

        &.stage-completed {
            color: $primary;

            span {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }

        &.stage-completed {
            &::after {
                background: $blue-chill;
            }

            .step-count {
                .count {
                    position: relative;

                    > span {
                        background: $blue-chill;
                        border-color: $blue-chill;
                        color: $white;
                    }

                    &::after {
                        content: $icon-check;
                        position: absolute;
                        right: 0;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        color: $white;
                        background: $blue-chill;
                        font-weight: 700;
                        font-size: 6.53px;
                        line-height: 18px;
                        font-family: icomoon;
                        border-radius: 100%;
                        height: 18px;
                        width: 18px;
                        border: 1px solid $blue-chill;
                        overflow: hidden;
                    }
                }
            }

            &.active {
                border-color: $primary;
                color: $primary;

                .step-count {
                    .count {
                        &::after {
                            content: none;
                        }

                        > span {
                            background: $black;
                            border-color: $black;
                            color: $white;
                        }
                    }
                }

                &::after {
                    background: $black;
                }
            }

            &.invalid-alert {
                color: $alert;
                border-color: $alert;

                .step-count {
                    .count {
                        position: relative;

                        > span {
                            border-radius: 100%;
                            overflow: hidden;
                        }

                        &::after {
                            content: $icon-cross;
                            position: absolute;
                            right: 0;
                            left: 0;
                            top: 0;
                            z-index: 1;
                            color: $white;
                            background: $light-red;
                            font-weight: 700;
                            font-size: 6.53px;
                            line-height: 18px;
                            font-family: icomoon;
                            border-radius: 100%;
                            height: 18px;
                            width: 18px;
                            border: 1px solid $alert;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        &.navigatable {
            cursor: pointer;
        }

        @media (max-width: $iphone) {
            padding: 0;
            width: 70px;
        }
    }
}

.checkout-btn {
    padding: 19px 12px;
    border-radius: 0;
    font-weight: bold;
    color: $white;
    background: $black;
    @include rem-font-size(14px, 18px);

    @include media-breakpoint-up(md) {
        padding: 11px 12px;
        font-weight: 600;
        @include rem-font-size(14px, 18px);
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $gray-copy;
        border-color: $gray-copy;
        color: $white;
    }

    &.disabled,
    &:disabled {
        background-color: $gray-copy;
        border-color: $gray-copy;
        color: $white;
    }
}

.receipt {
    padding-top: 30px;
    padding-bottom: 30px;

    @include media-breakpoint-up(md) {
        padding-bottom: 60px;
    }

    &.my-account {
        .order-confirmation-continue-shopping {
            display: none;
        }
    }

    .cart-item {
        .product-notification {
            display: none;
        }
    }

    .card,
    .card-header,
    .card-body {
        border: 0;
        padding: 0;
    }

    .card {
        &.ghost {
            margin-bottom: 30px;
        }
    }

    .shipping-summary {
        margin-bottom: 30px;

        .card-body {
            padding: 0;
        }
    }

    .card-header {
        border: 0;
        font-weight: bold;
        color: $binary-gray;
        padding: 0;
        margin-bottom: 24px;
        background: transparent;
        @include rem-font-size(14px, 16px);

        @include media-breakpoint-up(md) {
            padding: 0;
            margin-bottom: 24px;
        }
    }

    .btn,
    .btn-primary,
    .btn-outline-primary {
        padding: 11px 12px;
        border-radius: 0;
        font-weight: bold;
        @include rem-font-size(14px, 18px);

        @include media-breakpoint-up(md) {
            padding: 11px 12px;
            font-weight: 600;
            @include rem-font-size(14px, 18px);
        }

        &.disabled,
        &:disabled {
            background-color: $gray-copy;
            border-color: $gray-copy;
            color: $white;
        }
    }

    .btn-primary {
        border: 0;
    }

    .detail-title {
        font-weight: bold;
        @include rem-font-size(14px, 18px);

        .order-info {
            margin: 0;
            font-weight: normal;
            display: inline;
            text-transform: capitalize;

            .summary-section-label {
                display: inline;
                font-weight: normal;
            }
        }
    }

    h3 {
        text-transform: uppercase;
        font-weight: bold;
        @include rem-font-size(14px, 18px);
    }

    .shipping-address-block {
        margin-bottom: 0;
        padding: 15px 15px 0;
        background: $white-smoke;

        @include media-breakpoint-up(md) {
            padding: 0;
            background: none;
        }
    }

    .order-detail-area {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;

        .summary-box {
            width: 100%;
            padding: 0 15px 30px;
            @include rem-font-size(14px, 18px);

            .postal-code-item {
                margin-top: 8px;
            }

            @include media-breakpoint-up(md) {
                width: 50%;
            }

            &.payment {
                order: 4;

                @include media-breakpoint-up(md) {
                    order: initial;
                }
            }

            .summary-section-label {
                text-transform: uppercase;
            }

            .method-info {
                @include media-breakpoint-up(md) {
                    float: left;
                    max-width: 63%;
                }
                @include media-breakpoint-up(lg) {
                    float: left;
                    max-width: 45%;
                }
            }

            .title-info {
                margin-bottom: 8px;
            }
        }
    }

    .input-help {
        color: $secondary;
        @include rem-font-size(12px, 18px);
    }

    .form-control-label {
        text-transform: capitalize;
        @include rem-font-size(14px, 18px);
    }

    .form-check {
        &.start-lines {
            padding-left: 0;
        }

        .shipping-method-option {
            @include rem-font-size(14px, 18px);
        }

        .arrival-time {
            color: $primary;
            white-space: normal;
            text-transform: none;
        }
    }

    .order-total-summary {
        text-transform: uppercase;

        p {
            margin-bottom: 0;
            line-height: 1.3rem;
        }

        .order-confirmation-continue-shopping {
            margin-top: 30px;
        }
    }

    .checkout-card-header,
    .card-header-custom {
        @include rem-font-size(14px, 16px);
    }

    .product-line-item-details {
        overflow: hidden;

        .line-item-header {
            line-height: 1rem;
            display: block;
            overflow: hidden;
        }
    }

    .line-item-unit-price {
        p {
            margin: 0;
        }
    }

    .payment-summary,
    .payment {
        .card-body {
            padding: 0 16px;
            background: $white-smoke;
        }
    }

    .edit-button {
        font-weight: 400;
        float: right;
        margin-top: 2px;
        @include rem-font-size(13px, 13px);

        &:hover,
        &:focus,
        &:active {
            color: $secondary;
            text-decoration: none;
        }
    }

    p {
        &.shipping-method,
        &.shipping-method-price {
            margin: 0 0 5px;
            font-weight: normal;
            white-space: normal;
        }

        &.shipping-method-price {
            color: $blue-copy;
        }
    }

    .leading-lines {
        .start-lines {
            &::before {
                display: none;
            }

            .fake-input {
                width: 16px;
                height: 16px;
                margin-top: 3px;
            }

            input[type='radio'] {
                + .fake-input::before {
                    top: 50%;
                    right: auto;
                    bottom: auto;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 10px;
                    height: 10px;
                }
            }
        }

        label,
        span {
            background-color: transparent;
            display: inline;
        }

        .order-receipt-label {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .line-item-pricing-info {
        line-height: 1rem;
        margin-bottom: 5px;
    }

    .summary-section-label {
        &.multi-shipping {
            display: none;
        }
    }

    .payment-area {
        .js_paypal-content {
            position: relative;
            z-index: 0;
        }
    }

    select {
        pointer-events: none;
    }

    .jcf-select {
        width: 100%;
        border-bottom: 2px solid;
        height: 40px;
        pointer-events: none;

        &.jcf-disabled {
            background: $white !important;
        }

        .jcf-select-opener {
            bottom: 1px;
            display: none;

            &::after {
                line-height: 20px;
            }
        }

        .jcf-select-text {
            text-transform: capitalize;
            line-height: 40px;
            height: 40px;
            color: $gray-700;
            margin: 0 35px 0 10px;
        }

        &.jcf-select-addressSelector {
            border: 0;

            .jcf-select-text {
                line-height: 40px;
            }
        }

        .jcf-select-drop {
            top: 40px;
            left: 0;
            right: 0;
        }

        .jcf-list-content {
            @include media-breakpoint-down(sm) {
                overflow: hidden;
            }
        }
    }

    .single-shipping {
        > .card {
            margin: 0 0 26px;
        }
    }

    .shipping-method-block {
        margin: 0;

        .shipping-method-list {
            text-transform: capitalize;
        }

        .shipping-method-pricing {
            font-weight: normal;
            @include rem-font-size(14px, 16px);

            .shipping-cost {
                color: $blue-copy;
            }
        }

        .card-body {
            padding: 38px 0;

            @include media-breakpoint-up(md) {
                padding: 38px 0;
            }
        }

        .card-header-custom {
            margin: 0 0 10px;
        }
    }

    .order-product-summary {
        padding: 0 15px;
        width: 100%;

        @include media-breakpoint-up(md) {
            padding: 0;
        }
    }

    .payment-form {
        margin-bottom: 20px;

        .contact-info-block {
            padding: 0 20px;
        }

        .card-header {
            padding: 0;

            @include media-breakpoint-up(md) {
                background: transparent;
                margin-bottom: 24px;
            }
        }
    }

    .shipping-summary,
    .payment-summary,
    .totals {
        .card-header {
            margin-bottom: 26px;
            padding: 0;
            background: transparent;
        }
    }

    .address-cta-group {
        @include media-breakpoint-down(sm) {
            margin: 0 !important;

            .btn-save {
                margin-bottom: 30px;
            }
        }
    }

    .product-summary-block {
        margin: 0;
        box-sizing: border-box;

        .item-attributes {
            width: calc(100% - 5.5rem);
        }

        .line-item-attributes,
        .line-item-option {
            color: $binary-gray;
            margin: 0 0 3px;
            @include rem-font-size(14px, 18px);

            strong {
                font-weight: normal;
            }

            &.art-no {
                display: none;
            }
        }

        .line-item-name {
            white-space: normal;
            font-family: $font-primary;
            line-height: 1.2rem;
            font-weight: normal;
            color: $binary-gray;
            font-size: 0.875rem;
        }

        .line-item-quantity {
            margin-bottom: 4px;
        }

        .checkout-remove {
            .line-item-name {
                display: none;
            }

            .remove-btn {
                padding: 0;
                border: 0;
                font-weight: normal;
                text-transform: none;
                background: none;
                color: $silver;
                text-decoration: underline;
                text-align: right;
                @include rem-font-size(12px, 16px);

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        .line-item-total-price {
            position: absolute;
            right: 15px;
            top: 0;

            @include media-breakpoint-up(md) {
                font-family: $font-primary;
                margin: 0;
                flex-basis: 25%;
                text-align: right;
            }

            @include media-breakpoint-up(lg) {
                position: static;
            }

            .line-item-total-price-amount {
                color: $alert;
                font-weight: normal;
                @include rem-font-size(14px, 18px);

                @include media-breakpoint-up(lg) {
                    @include rem-font-size(14px, 18px);
                }
            }

            .strike-through {
                vertical-align: middle;
            }

            .promo-price-info {
                font-weight: 600;
            }

            .line-item-promo {
                color: $alert;
                @include rem-font-size(14px, 18px);
            }

            .price {
                @include rem-font-size(14px, 18px);

                .strike-through {
                    margin-right: 0;
                    color: $gray-copy;
                    font-weight: normal;
                    @include rem-font-size(14px, 18px);

                    &::after {
                        background: $gray-copy;
                    }
                }
            }
        }

        .product-line-item {
            padding: 25px 10px 20px 0;
            min-height: 161px;

            @include media-breakpoint-up(md) {
                min-height: 141px;
            }

            &:last-child {
                @include media-breakpoint-up(md) {
                    padding: 25px 10px 20px 0;
                }
            }

            &::before {
                display: none;
            }
        }
    }

    .summary-section-label {
        display: block;
        text-transform: capitalize;
        font-weight: bold;
        @include rem-font-size(14px, 18px);

        &.multi-shipping {
            display: none;
        }
    }

    .shipping-methods-area {
        display: none;
    }

    .shipping-method {
        text-transform: capitalize;
    }

    .order-thank-you-msg {
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.02em;
        @include rem-font-size(26px, 32px);
    }

    .order-number-box {
        border-bottom: 1px solid $white-smoke;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        @include rem-font-size(14px, 18px);

        @include media-breakpoint-up(md) {
            text-align: left;
            padding-top: 0;
        }

        .summary-details,
        .summary-section-label {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            line-height: 1;
        }

        .order-number {
            font-weight: normal;
        }
    }

    .shipping-tax {
        text-transform: capitalize;
        padding-bottom: 10px;
    }

    .grand-total-sum {
        text-transform: capitalize;
        font-weight: 700;
    }

    .leading-lines {
        .end-lines {
            span {
                text-transform: capitalize;
            }
        }
    }

    .order-thank-you-email-msg,
    .order-number-msg {
        text-align: center;
        margin: 0;
        @include rem-font-size(14px, 18px);

        strong {
            font-weight: 500;
        }
    }

    .order-thank-you-email-msg {
        margin-bottom: 30px;

        strong {
            font-weight: 500;
        }
    }

    .receipt-row {
        margin-bottom: 30px;

        .checkout-order-total-summary {
            border-top: 1px solid $white-smoke;
            border-radius: 0;
            padding-top: 0;
            @include rem-font-size(14px, 18px);
        }

        .title {
            margin-bottom: 10px;
            display: block;
            @include rem-font-size(14px, 18px);
        }
    }

    .totals {
        .order-details {
            padding: 20px 0 0;
            background: none;
            margin: 0;

            + .order-details {
                padding-top: 10px;
            }

            .order-discount {
                display: none;
            }
        }
    }

    #order-products.open,
    #order-products {
        margin-top: 17px;
        padding: 0 15px;
        border: 0;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        .last-product-confirmaton {
            display: none;
        }
    }

    .receipt-btns {
        .order-receipt {
            width: 100%;
            padding: 10px 12px;
            margin: 0;

            @include media-breakpoint-down(sm) {
                padding: 20px 12px;
                margin-bottom: 30px;
            }
        }

        .order-confirmation-continue-shopping {
            width: 100%;
            padding: 10px 12px;
            background: black;
            color: $white;

            @include media-breakpoint-down(sm) {
                padding: 20px 12px;
            }

            &:hover {
                background-color: $white-smoke;
                border-color: $white-smoke;
            }
        }
    }

    .order-confirmation-continue-shopping {
        @include media-breakpoint-down(sm) {
            padding: 10px 5px;
            width: 100%;
        }
    }

    .collapse:not(.show) {
        display: block !important;
    }

    .product-line-item {
        float: left;
        width: 100%;
        padding-right: 5px;
        margin-bottom: 20px;

        &::before {
            display: none;
        }

        .product-line-item {
            &::before {
                display: none;
            }
        }
    }

    .confirm-details {
        @include media-breakpoint-up(md) {
            > .card-body {
                position: relative;
            }
        }
    }

    .product-summary-block {
        overflow: hidden;
        padding-right: 10px;

        .product-line-item {
            padding: 17px 0;
            margin: 0;

            &:last-child {
                padding: 20px 0;

                @include media-breakpoint-up(md) {
                    padding: 20px 0 0;
                }
            }
        }

        .remove-line-item {
            display: none;
        }

        .line-item-attributes,
        .line-item-option {
            &.art-no {
                display: block;
            }
        }
    }

    .product-line-item-details {
        .line-item-header {
            display: block;
        }
    }

    .pricing {
        font-weight: normal;
    }

    .card {
        margin: 0;
    }

    .order-confirm-create-account {
        margin: 0 -15px 50px;
        @include rem-font-size(14px, 16px);

        @include media-breakpoint-up(md) {
            margin: 0 0 50px;
        }

        .card-body {
            padding: 11px 20px 30px;
            background: $white-smoke;

            p {
                margin: 0 0 10px;
            }
        }

        .card-header-custom {
            border: 0;
            padding: 0;
            margin: 0;
        }

        .custom-checkbox {
            padding-left: 22px;
            margin-bottom: 30px;

            .custom-control-label {
                &::before,
                &::after {
                    top: 3px;
                }
            }
        }

        .custom-control-input {
            &:checked {
                ~ .custom-control-label {
                    box-shadow: none;

                    &::before {
                        border-color: $primary;
                        box-shadow: none;
                    }
                }
            }

            &:focus {
                ~ .custom-control-label {
                    &::before {
                        box-shadow: none;
                    }
                }

                &:not(:checked) {
                    ~ .custom-control-label {
                        &::before {
                            border-color: $primary;
                        }
                    }
                }
            }

            &:not(:disabled):active {
                ~ .custom-control-label {
                    &::before {
                        border-color: $primary;
                    }
                }
            }
        }

        form {
            .form-group {
                .form-control {
                    &:focus {
                        background: transparent;
                    }

                    &.is-invalid,
                    &.mismatch-invalid {
                        + .form-control-label {
                            background: $white !important;

                            + .invalid-input-cross {
                                top: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .order-summary-email {
        display: block;
    }

    .order-receipt {
        float: right;
        margin-right: 15px;
    }

    .order-product-summary {
        margin-bottom: 38px;
        padding: 0;
    }
}

.order-product-summary {
    margin-bottom: 30px;

    .leading-lines {
        font-family: $font-primary;
        text-transform: uppercase;
        margin: 0;
        @include rem-font-size(14px, 18px);

        a {
            width: 100%;
            display: block;
            padding: 0;
            text-decoration: none;
            position: relative;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none !important;
            }

            &::after {
                content: $icon-arrow-down;
                font-family: 'icomoon';
                position: absolute;
                top: 0;
                right: 10px;
                transform: none;
                transition: all 0.3s ease-in-out;
            }
        }
    }

    &.open {
        .leading-lines {
            a {
                &::after {
                    content: $icon-arrow-down;
                    font-family: 'icomoon';
                    position: absolute;
                    top: 0;
                    right: 10px;
                    transform: rotate(-180deg);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .grand-total-label {
        font-weight: normal;
    }

    .item-image {
        width: 4.5em;
    }
}

.payment-summary {
    @include media-breakpoint-up(xl) {
        margin: 0 0 30px;
    }

    .card-header {
        margin: 0 0 10px;
    }
}

.vat-msg {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: $secondary;
    display: block;
    text-transform: none;
}

.totals {
    margin-bottom: 10px;
    @include rem-font-size(14px, 18px);

    @include media-breakpoint-up(md) {
        margin-bottom: 30px;
    }

    .order-details {
        background: $white-smoke;
        padding: 10px 20px;
        margin-bottom: 2px;

        .sub-total-row {
            margin-bottom: 5px;

            strong {
                font-weight: normal;
            }

            .sub-total {
                font-weight: normal;
            }
        }

        .shipping-tax {
            text-transform: capitalize;

            p {
                margin: 0;
            }
        }

        .cart-totals {
            text-transform: none;

            &.grand-total-receipt {
                font-weight: normal;
                margin: 0 0 50px;

                @include media-breakpoint-up(md) {
                    margin: 0 0 60px;
                }
            }
        }
    }

    .cart-checkout-btn {
        margin: 0 15px;

        @include media-breakpoint-up(md) {
            margin: 37px 0;
        }

        .checkout-btn {
            @include rem-font-size(14px, 18px);

            @include media-breakpoint-down(sm) {
                padding: 20px 12px;
                @include rem-font-size(14px, 18px);
            }
        }
    }
}

.contact-area {
    @include media-breakpoint-up(md) {
        margin-bottom: 15px;
    }

    span {
        white-space: nowrap;
    }
}

.shipping-summary {
    margin-bottom: 24px;

    .shipping-method-title {
        text-transform: capitalize;
    }

    .shipping-method-label {
        border: 0;
        padding: 20px;
        font-weight: bold;
        color: $binary-gray;
        margin-bottom: 2px;
        @include rem-font-size(14px, 18px);

        @include media-breakpoint-up(md) {
            padding: 10px 0;
        }

        .display-name {
            display: block;
            margin-bottom: 8px;
        }

        &.summary-section-label {
            margin-bottom: 2px;
        }
    }

    .shipping-methods-area {
        .summary-details {
            padding: 0;
            background: transparent;
        }
    }

    .address-info {
        padding: 0;
        background: transparent;
        margin-bottom: 0;
    }
}

#order-products {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $silver;
    transition: all 0.3s ease-in-out;

    &.open {
        max-height: 350px;
        transition: all 0.3s ease-in-out;
    }

    .jcf-scrollable {
        max-height: 350px !important;
        height: 100% !important;
        width: 100% !important;

        @include media-breakpoint-down(md) {
            max-height: 302px !important;
        }
    }

    .jcf-scrollable-wrapper {
        height: 100% !important;
        width: 100% !important;
    }

    .jcf-scrollbar-vertical {
        @include media-breakpoint-up(md) {
            display: block;
        }
    }

    .jcf-scrollbar-horizontal {
        display: none;
    }
}

.pricing {
    font-weight: normal;
}

.summary-details {
    margin: 0;
    font-family: $font-primary;
    display: block;
    @include rem-font-size(14px, 16px);

    .postal-code-item {
        margin-top: 8px;
    }

    &.leading-lines {
        display: flex;
        padding: 10px 0;
    }

    .address-summary {
        margin-bottom: 0;

        .title-info {
            margin-bottom: 8px;
        }
    }

    .payment-details {
        padding-top: 10px;
        @include rem-font-size(14px, 18px);

        &::after {
            clear: both;
            content: ' ';
            display: block;
        }

        .pg-logo {
            max-width: 40px;
            display: none;
        }

        .paypal-method-name {
            float: left;
            padding-left: 85px;
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                top: 2px;
                background: url('../../images/payment-paypal-card.png') no-repeat;
                content: ' ';
                width: 75px;
                height: 18px;
            }
        }

        .paypal-amount {
            float: right;
        }

        .paypal-summary-billing-additional-info {
            display: none;
        }

        .payment-info {
            float: right;
            display: none;
        }

        .card {
            background: url('../../images/payment-visa-cards.png') no-repeat;
            width: 45px;
            height: 35px;
            z-index: 2;
            margin: 0 13px 0 0;
            float: left;
            position: relative;
            top: -5px;

            &.visa {
                background-position: 0 0;
            }

            &.unionpay {
                background-position: -259px 0;
            }

            &.cup {
                background-position: -259px 0;
            }

            &.mastercard {
                background-position: -51px 0;
            }

            &.jcb {
                background-position: -103px 0;
            }

            &.discover {
                background-position: -206px 0;
            }

            &.diner {
                background-position: -155px 0;
            }

            &.ratepay {
                background-position: -319px 0;
            }

            &.paypal {
                background-position: -379px -4px;
                width: 84px;
                height: 21px;
                top: 0;
            }

            &.amex {
                background-position: -478px 0;
            }
        }
    }
}

.order-confirm-create-account {
    .info-icon {
        .icon {
            background: $primary;
            border-radius: 100%;
            @include size(14px);
            @include rem-font-size(12px, 17px);
        }

        &:focus,
        &:active,
        &:hover {
            outline: none;
        }

        .tooltip {
            transform: translate(-30%, -0.625em);

            &::after {
                left: 30%;
            }
        }
    }
}

#containerChkBox {
    padding: 0 30px;
    position: relative;

    .fake-label,
    .fake-input {
        line-height: 1.2rem;
        vertical-align: middle;
    }

    .fake-input {
        width: 12px;
        height: 12px;
    }

    [type='checkbox'] {
        + .fake-input::before {
            width: 8px;
            height: 4px;
            border-width: 0 0 1px 1px;
            margin: -4px 0 0 -4px;
        }
    }

    .fake-label {
        @include media-breakpoint-down(sm) {
            max-width: 80%;
            width: 100%;
        }
    }

    label {
        @include media-breakpoint-down(sm) {
            display: block;
        }
    }
}

@media print {
    #header,
    #footercontent {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .print-logo {
        max-width: 250px;
        margin: 0 auto 15px;
    }

    .page {
        padding-top: 40px !important;
    }

    #order-products {
        .jcf-scrollable {
            max-height: 350px !important;
        }

        .jcf-scrollbar {
            display: none !important;
        }

        .jcf-scrollable-wrapper {
            height: auto !important;
        }
    }
}

// checkout legal copy part

.checkout-legal-copy {
    padding-top: 20px;
    width: 100%;
    @include rem-font-size(14px, 18px);

    @include media-breakpoint-up(md) {
        padding-top: 0;
    }

    a {
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none !important;
        }
    }

    .col {
        padding: 0;
    }
}

.mismatch-invalid {
    border-color: $alert !important;
    box-shadow: none;
    color: $alert;

    &:focus {
        color: $alert;
    }

    + .view-link {
        color: $alert;

        &::after {
            background: $alert !important;
        }
    }
}

.suggestions {
    display: block;
}

.account-order-summary {
    width: 100%;

    .card-wrapper {
        margin-bottom: 32px;
    }

    .orderTotal-summary-holder {
        .order-detail-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 15px;
            color: $binary-gray;
            text-transform: capitalize;
            margin-bottom: 0;
            border-bottom: 1px solid $white-smoke;
            @include rem-font-size(14px, 21px);

            &:last-child {
                margin-bottom: 0;
            }

            &.shipping-cost-wrapper {
                padding: 15px;
                margin-bottom: 0;

                .shipping-total-cost {
                    color: $blue-copy;
                }

                .shipping-tax {
                    padding-bottom: 0;
                }
            }

            &.sub-total-row {
                padding: 12px 15px;

                .sub-total {
                    font-weight: 400;
                }

                .sub-title {
                    text-transform: capitalize;
                }
            }

            .right-item {
                .sub-total {
                    white-space: nowrap;
                }

                .shipping-cost {
                    white-space: nowrap;
                }

                .grand-total {
                    font-weight: bold;
                    @include rem-font-size(14px, 21px);
                }
            }
        }

        .coupon-code-summary {
            color: #101010;

            .coupon-code-list {
                padding: 0;
                margin-top: 18px;
                margin-bottom: 18px;

                &:last-child {
                    margin-bottom: 0;
                }

                .coupon-holder {
                    @include rem-font-size(14px, 16px);

                    .title {
                        text-transform: initial;
                        margin-bottom: 0;
                        display: inline-block;
                        @include rem-font-size(14px, 16px);
                    }

                    .coupon-name {
                        text-transform: initial;
                    }
                }

                .coupon-amount {
                    color: #e70000;
                    @include rem-font-size(14px, 16px);
                }
            }

            .discounted-coupon-list {
                padding: 0;
                margin-bottom: 18px;

                &:last-child {
                    margin-bottom: 0;
                }

                .discounted-coupon-item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .title {
                        text-transform: initial;
                        margin-bottom: 0;
                        display: inline-block;
                        @include rem-font-size(14px, 16px);
                    }

                    .right-item {
                        .discount-amount {
                            white-space: nowrap;
                            color: #e70000;
                            @include rem-font-size(14px, 16px);
                        }
                    }
                }
            }

            .coupon-code {
                line-height: 1;

                .coupon-code-item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-bottom: 18px;

                    .coupon-amount {
                        white-space: nowrap;
                        @include rem-font-size(14px, 16px);
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .right-item {
                        .coupon-amount {
                            white-space: nowrap;
                        }
                    }
                }

                .btn-coupon-wrapper {
                    .remove-coupon {
                        padding: 0;
                        text-decoration: underline;
                        color: #a0a0a0;
                        cursor: pointer;
                        background: none;
                        border: none;
                        box-shadow: none;
                        @include rem-font-size(14px, 16px);
                    }
                }
            }
        }
    }
}

.cart-totals {
    &.order-summary-total {
        padding: 4px 15px;
        height: 45px;

        .order-detail-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            color: #101010;
            text-transform: initial;
            margin-bottom: 0;
            height: 100%;
            @include rem-font-size(14px, 21px);
        }
    }
}

.product-holder-wrapper {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $white-smoke;

    .product-list-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 8px;
        margin-right: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        .product-label-info {
            text-transform: capitalize;
            color: #101010;
            font-weight: 400;
            @include rem-font-size(14px, 21px);

            .product-name {
                max-height: 46px;
                overflow: hidden;
                margin-right: 10px;
            }
        }

        .product-price-holder {
            flex-shrink: 0;

            .price-item {
                @include rem-font-size(14px, 21px);
            }
        }
    }
}

.confirmation-section {
    background: rgba(15, 163, 177, 0.1);
    margin-bottom: 0;

    .confrimation-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        min-height: 425px;
        padding: 24px 15px;

        @include media-breakpoint-down(sm) {
            padding: 64px 15px 38px;
            flex-wrap: wrap;
        }

        .left-content-item {
            width: 50%;
            flex-grow: 1;

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-bottom: 64px;
            }

            .confirmation-text-block {
                max-width: 349px;
                margin: 0 auto;

                .initial-icon-holder {
                    text-align: center;
                    margin: 0 auto 32px;
                }

                .order-thank-you-msg {
                    margin-bottom: 32px;
                    @include rem-font-size(26px, 30px);
                }

                .order-thank-you-email-msg {
                    display: block;
                    // font-weight: 500;
                    @include rem-font-size(14px, 21px);

                    @include media-breakpoint-down(sm) {
                        margin-bottom: 0;
                        // font-weight: 500;
                    }
                }
            }
        }

        .right-content-item {
            width: 50%;

            &:empty {
                display: none;
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            .confirmation-form-block {
                .order-confirm-create-account {
                    margin: 0;
                    max-width: 445px;
                    background: #fff;

                    @include media-breakpoint-down(sm) {
                        max-width: 100%;
                    }

                    .card-body {
                        background: none;
                        padding: 36px 48px;

                        @include media-breakpoint-down(md) {
                            padding: 36px 40px;
                        }

                        @include media-breakpoint-down(sm) {
                            padding: 24px 14px;
                        }

                        .form-title-header {
                            margin-bottom: 25px;

                            @include media-breakpoint-down(sm) {
                                margin-bottom: 33px;
                            }

                            h2 {
                                text-align: center;
                                margin: 0;
                                letter-spacing: initial;
                                font-weight: bold;
                                color: $black;
                                @include rem-font-size(20px, 23px);
                            }
                        }
                    }

                    .content-v-list {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            display: flex;
                            align-items: flex-start;
                            margin-bottom: 25px;

                            @include media-breakpoint-down(sm) {
                                margin-bottom: 33px;
                            }

                            &:last-child {
                                margin-bottom: 24px;

                                @include media-breakpoint-down(sm) {
                                    margin-bottom: 32px;
                                }
                            }

                            .icon-holder {
                                margin-right: 12px;
                            }

                            span {
                                display: inline-block;
                                color: $black;
                                @include rem-font-size(14px, 16px);
                            }
                        }
                    }

                    .custom-checkbox {
                        margin-bottom: 25px;
                        color: $black;
                    }

                    .checkout-registration {
                        .form-group {
                            margin-bottom: 25px;

                            @include media-breakpoint-down(sm) {
                                margin-bottom: 32px;
                            }
                        }

                        .create-account-button {
                            margin-bottom: 25px;
                        }

                        .checkout-legal-copy {
                            @include media-breakpoint-down(sm) {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.order-confirmation-page {
    padding: 0 0 30px;

    .recommendations {
        .best-sellings {
            padding: 38px 0 1px;

            h2 {
                &:empty {
                    margin: 0;
                }
            }
        }
    }

    .title-head-section {
        margin-bottom: 38px;

        h2 {
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: 0;
            @include rem-font-size(26px, 38px);
        }
    }

    .btn-block-holder {
        margin-bottom: 38px;

        .btn-primary-outline {
            border: 1px solid $black;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include rem-font-size(16px, 18px);
        }

        &.mt-38 {
            margin-top: 38px;
        }
    }

    .card-header {
        border: 0;
        margin-bottom: 26px;
        padding: 0;
        background: transparent;
        font-weight: bold;
        min-height: 40px;
        @include rem-font-size(14px, 16px);

        .card-header-title {
            background: $white-smoke;
            color: $binary-gray;
            border: 1px solid #f5f5f5;
            padding: 4px 16px;
            font-weight: bold;
            height: 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 2px;
            text-transform: uppercase;
            @include rem-font-size(14px, 16px);

            > span {
                display: inline-block;
                margin-right: 5px;
            }

            .order-info {
                display: inline-flex;
                align-items: center;

                .order-number-label,
                .order-number {
                    font-weight: 400;
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
        }
    }

    .checkout-holder {
        .left-confirmation {
            .summary-box {
                margin-bottom: 24px !important;
                padding: 0 16px;

                &.billing {
                    margin-bottom: 38px !important;
                }

                &.payment {
                    padding: 0;

                    .payment-details {
                        padding: 0 16px;
                    }
                }

                &.shipping-summary {
                    margin-bottom: 0;
                }

                .summary-section-label {
                    text-transform: uppercase;
                    margin-bottom: 8px;
                    @include rem-font-size(14px, 16px);
                }

                .address-summary {
                    .title-info,
                    .address-labels {
                        span {
                            margin-bottom: 8px;
                            @include rem-font-size(14px, 16px);

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .summary-right-area {
        .right-confirmation {
            .card-header {
                margin-bottom: 0;
            }

            .checkout-order-total-summary {
                margin-bottom: 38px !important;
            }

            #order-products {
                border-top: none !important;

                .card-header {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .for-mobile-spaces {
            padding: 0;
        }
    }
}

.checkout-register-button-section {
    height: 200px;
    transition: all ease-in-out 0.2s;
    opacity: 1;

    &.hide {
        height: 0;
        opacity: 0;
    }
}
