// Editorial Teaser Slider SCSS Style

@import "../variables";
@import "../utilities/mixins";

$bp-xs: 400px;

.editorial-teaser {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	overflow: hidden;

	&[data-indicator="false"] {
		.slick-dots {
			display: none !important;
		}
	}

	&[data-navigation="false"] {
		.slick-arrow {
			display: none !important;
		}
	}

	&.single {
		height: 710px;

		.video-wrapper {
			height: 710px;

			video {
				height: 710px;
			}
		}

		picture {
			img {
				height: 710px;
				object-fit: cover;
			}
		}
	}

	&.double {
		height: 100vh;
		min-height: 600px;

		.slick-list {
			&.draggable {
				height: 100vh !important;
				min-height: 600px;
			}
		}

		.slide-overlay {
			height: 100vh;
			min-height: 600px;
		}

		.video-wrapper {
			height: 100vh;
			min-height: 600px;

			video {
				height: 100vh;
				min-height: 600px;
			}
		}

		picture {
			img {
				height: 100vh;
				min-height: 768px;
			}
		}
	}

	// Slider Light Variation
	&.white {
		.slick-arrow {
			color: $white;
		}

		.slick-dots {
			button {
				border-bottom-color: $white;

				&::before {
					background: $white;
				}
			}
		}
	}

	// Slider Video
	.video-wrapper {
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			object-fit: cover;
		}

		i {
			margin: 0 15px;
		}

		.play-bt,
		.pause-bt,
		.mute-bt,
		.unmute-bt {
			position: absolute;
			bottom: 15px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			line-height: 16px;
			font-weight: 700;
			z-index: 99;
		}

		.mute-bt,
		.unmute-bt {
			right: 0;
		}
	}

	// Slider Image
	picture {
		display: block;

		img {
			background-color: $black;
			margin: 0 auto;
			max-width: 100%;
			// object-fit: contain;
			object-fit: cover;
			object-position: top center;
			width: 100%;
		}
	}

	.slide-item,
	.slick-slide {
		position: relative;
	}

	.slick-slider {
		height: 100%;
	}

	// Slider Overlay
	.slide-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		// max-width: 1110px;
		padding: 100px 15px;
		z-index: 10;
		margin: 0 auto;

		&[class*="-white"] {
			a {
				color: $white;
				border: 1px solid $white;
			}
		}
	}

	// Slider Caption
	.slide-caption {
		font-size: 26px;
		line-height: 38px;

		// align-items: center;
		display: flex;
		flex-direction: column;

		&.caption-resize {
			h1,
			h2 {
				@include media-breakpoint-down(sm) {
					font-size: 40px;
					line-height: 52px;
					word-break: break-all;
				}

				@include media-breakpoint-down(md) {
					word-break: break-all;
				}
			}

			h3,
			p {
				@include media-breakpoint-down(sm) {
					font-size: 22px;
					line-height: 34px;

					word-break: break-all;
				}

				@include media-breakpoint-down(md) {
					word-break: break-all;
				}
			}
		}
	}

	// Cation Typography
	h1,
	h2 {
		// @media (max-width: $bp-xs) {
		//     // due to ECOM-1169 @375 mob resolution
		//     @include rem-font-size(40px, 52px);
		// }

		font-size: 68px;
		line-height: 80px;

		font-weight: 500;
		margin: 0;
		text-transform: uppercase;
	}

	h3,
	p {
		font-size: 26px;
		line-height: 38px;
	}

	p,
	a,
	h3,
	h4 {
		margin: 30px 0 0;
		font-weight: 400;
	}

	a {
		font-size: 14px;
		line-height: 16px;
		color: $black;
		border: 1px solid $black;
		display: block;
		width: 350px;
		height: 40px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: center;
		text-transform: uppercase;
		padding: 11px 15px;

		@include media-breakpoint-down(sm) {
			font-size: 15px;
			line-height: 18px;
			height: 48px;
			max-width: 350px;
			padding: 14px 15px;
			width: 100%;
		}
	}

	// Slider Controler
	.slick-arrow {
		@include media-breakpoint-down(sm) {
			display: none !important;
		}

		color: $black;
		position: absolute;
		padding: 0;
		top: 50%;
		margin-top: -21px;
		z-index: 99;
		left: 15px;
		line-height: 0;

		&.slick-prev {
			&::before {
				content: "<";
				font-size: 43px;
			}
		}

		&.slick-next {
			left: auto;
			right: 15px;

			&::after {
				content: ">";
				font-size: 43px;
			}
		}
	}

	.slick-dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 50px;

		li {
			padding: 0;
		}

		button {
			border-bottom-color: $black;

			&::before {
				background: $black;
			}
		}
	}
}
