@import "menu";

header {
	font-family: 'Raleway', sans-serif;
	position: sticky !important;
	top: -32px;
	z-index: 999;
	background-color: $white;
	.header-banner {
		background-color: $black;
		color: $white;
		.header-promotion {
			height: 32px;
			font-size: 10px;
			line-height: 16px;
			letter-spacing: 1.4px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

			@include media-breakpoint-down(sm) {
				height: 44px;
			}
		}
	}
	.header {
		padding: 20px 0;
		max-width: 90%;
		margin: 0 auto;
		.header-content {
			display: flex;
			position: relative;
			align-items: center;
			z-index: 999;
			.side-nav {
				border-bottom: 2px solid black;
				padding-bottom: 10px;
				width: 100%;
				.menu {
					display: flex;
					justify-content: flex-end;
					list-style: none;
					padding-left: 0;
					li {
						font-size: 12px;
						margin-left: 25px;
						a {
							color: #444;
							text-decoration: none;
						}
					}
					li:nth-child(1):hover,
					li:nth-child(2):hover {
						text-decoration: underline;
					}
				}
			}
		}
		.navigation-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			// position: relative;
			.site-logo {
				padding-top: 10px;
				img {
					max-width: 100%;
				}
			}
			ul {
				display: flex;
				align-items: center;
				list-style: none;
				justify-content: flex-end;
				padding-left: 0;
				padding-top: 20px;
				li 
				{
					margin: 0 25px;
					a 
					{
						font-size: 15px;
						text-decoration: none;
						color: #000;
					}
					.dropdown
					{
						display: none;
						.menu
						{
							margin-right: 30px;
							margin-top: 30px;
							text-align: left;
							h2 
							{
								font-size: 12px;
								margin-bottom: 25px;
								font-weight: bold;
							}
							.menu-list
							{
								padding: 0;
								list-style: none;
								display: block;
								.item
								{
									margin: 0;
									.item-link
									{
										color:  grey;
										border-bottom: 0;
										text-decoration: none;
										display: block;
										font-size: 10px;
										margin-bottom: 10px;
										
									}
								}
							}
						}
						.image
						{
							margin-top: 20px;
							img
							{
								width: 100%;
							}
						}
					}
				}
				li:hover .dropdown
				{
					position: absolute;
					left: 0px;
					padding: 40px 72px;
					background-color: white;
					display: flex;
					grid-gap: 20px;
					color: black;
					width: 100%;
				}
				li:hover a 
				{
					border-bottom: 2px solid black;
				}
			}
		}
	}
}
