@import "../variables";

.plm-layout {
	font-family: 'Raleway', sans-serif;

	.card {
		.card-header {
			margin-bottom: 0;
		}
	}

	.row-cols-4-8 {
		> * {
			max-width: calc(100% / 12 * 4);
			flex: 0 0 calc(100% / 12 * 4);

			&:nth-child(2n) {
				max-width: calc(100% / 12 * 8);
				flex: 0 0 calc(100% / 12 * 8);
			}

			@include media-breakpoint-down(sm) {
				max-width: 100%;
				flex: 0 0 100%;

				&:nth-child(2n) {
					max-width: 100%;
					flex: 0 0 100%;
				}
			}
		}
	}

	.row-cols-3-9 {
		> * {
			max-width: calc(100% / 12 * 3);
			flex: 0 0 calc(100% / 12 * 3);

			&:nth-child(2n) {
				max-width: calc(100% / 12 * 9);
				flex: 0 0 calc(100% / 12 * 9);
			}

			@include media-breakpoint-down(sm) {
				max-width: 100%;
				flex: 0 0 100%;

				&:nth-child(2n) {
					max-width: 100%;
					flex: 0 0 100%;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.module-product-count {
			padding-left: 15px;
		}

		.grid-header {
			padding-right: 15px;
		}
	}

	// breadcrums style fix
	.plp-breadcrumbs > .row {
		margin: 0;

		> div[class*="col"] {
			padding-right: 0;
		}
	}
}
