@import "../variables";


.carousel-title {
	font-family: 'Raleway', sans-serif;
}

.product-carousel {
	font-family: 'Raleway', sans-serif;
	.carousel-inner {
		.product-tile-pd {
			.product-tile-body {
				font-family: 'Raleway', sans-serif;
				padding: 15px 0;
				display: flex;
				justify-content: space-between;
				font-size: 16px;
				.product-name-link {
					font-weight: 700;
				}
				.product-price {
					font-weight: 500;
					text-align: right;
				}
			}
		}
	}
	.carousel-control-next,
	.carousel-control-prev {
		background-color: transparent !important;
		color: $black;
	}

}