$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: '../../fonts/icomoon' !default;

$icon-cookie: "\e900";
$icon-calendar-o: "\e901";
$icon-customer-care: "\e902";
$icon-package: "\e903";
$icon-truck: "\e904";
$icon-account: "\e905";
$icon-alert: "\e906";
$icon-arrow-down: "\e907";
$icon-arrow-left: "\e908";
$icon-arrow-right: "\e909";
$icon-arrow-up: "\e90a";
$icon-calendar: "\e90b";
$icon-cart: "\e90c";
$icon-check: "\e90d";
$icon-check-circle: "\e90e";
$icon-cross: "\e90f";
$icon-direction-down: "\e910";
$icon-direction-left: "\e911";
$icon-direction-right: "\e912";
$icon-direction-up: "\e913";
$icon-edit: "\e914";
$icon-eyeview: "\e915";
$icon-favourite: "\e916";
$icon-filter: "\e917";
$icon-hide-view: "\e918";
$icon-info: "\e919";
$icon-menu: "\e91a";
$icon-mute: "\e91b";
$icon-notification: "\e91c";
$icon-pause: "\e91d";
$icon-play: "\e91e";
$icon-play-circle: "\e91f";
$icon-search: "\e920";
$icon-sound: "\e921";
$icon-star: "\e922";
$icon-star-circle: "\e923";
$icon-trashbin: "\e924";
$icon-view: "\e925";
