@import "variables";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.slider-layout {
    font-family: 'Raleway', sans-serif;
    .section-title {
        font-weight: 500;
    }
    .card-slider {
        position: relative;
        .card-slide {
            display: flex;
            justify-content: space-between;
            padding: 0 30px;
            flex-direction: column;
            @include media-breakpoint-down(md) {
                padding: 0 20px;
            }
            h4 {
                padding: 15px 0;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.5px;
            }
            img {
                width: 100%;
            }
        }
        .slick-next,
        .slick-prev {
            background-color: transparent !important;
            position: absolute;
            top: 50% !important;
            z-index: 99;
            @include media-breakpoint-down(lg) {
                top: 40% !important;
            }
        }
        .slick-prev {
            left: 18.5%;
            @include media-breakpoint-down(md) {
                left: 17.5%;
            }
        }
        .slick-next {
            right: 18.5%;
            @include media-breakpoint-down(md) {
                right: 17.5%;
            }
        }
        .slick-prev::before {
            color: dimgray;
        }
        .slick-next::before {
            color: dimgray;
        }
        .draggable {
            padding: 0 21% !important;
        }
    }
}